.title {
  float: left;
  padding: 50px;
  text-decoration: none;
  font-family:'Lato', sans-serif;
  color: #000;
}
.title:hover {
  color: #777;
}

#search {
	width: auto;
}

#navbar {
	font-family:'Lato', sans-serif;
}

.searchbar{
  float: right;
  margin: 0px;
  padding: 15px;
}

.page{
  padding: 50px;
}

.table{
  margin: auto;
}

.table:hover {
  color:#555;
}

.inputs{
  margin: 100px;
  padding: 15px;
  width: 400px;
}
